* {
padding: 0;
margin: 0;
}

.namehead { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF9C4;
  padding: 10px;
}

.imghead { 
  display:block;
  margin: auto;
}