* {
padding: 0;
margin: 0;
}
.namehead { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(pattern.png);
  background-color: #FFF590;
  padding: 100px;
}
.name {
 /* background-color: #F57F17; */
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 25pt;
  color: #F57F17;
  font-family: 'Poppins', sans-serif;
}
.social { 
  display: flex;
  flex-direction: row;
}

.vk {
  margin: 10px;
}

.telegram {
  margin: 10px;
}

.instagram {
  margin: 10px;
}

.github {
  margin: 10px;
}


.imghead { 
  display:block;
  margin: auto;
}
